<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
	</configSections>
	<aws region="us-west-2" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="maxMinFilePath" value="c:/red" />

	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}/logs/RedCarpet.MaxMin.FileConsumer.txt"
							archiveFileName="${basedir}/logs/RedCarpet.MaxMin.FileConsumer.{#####}.txt" archiveAboveSize="1000000" archiveNumbering="Sequence"
							concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
			<layout xsi:type="CSVLayout">
				<column name="time" layout="${longdate}" />
				<column name="level" layout="${level}" />
				<column name="logger" layout="${logger}" />
				<column name="machinename" layout="${machinename}" />
				<column name="message" layout="${message}" />

			</layout>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="RedCarpetDBContext" connectionString="data source=10.0.0.181;initial catalog=OEMktPlace;persist security info=True;user id=Developer1;password=0ff3ss123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>

