<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<configSections>
			<section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>    
			<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

		</configSections>
		<aws profileName="my_profile"/>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>

	<appSettings>
		<!--<add key="queueUrl" value="https://sqs.us-west-2.amazonaws.com/324811268269/ConsoleTest2"/>-->
		<add key="queueUrl" value="https://sqs.us-west-2.amazonaws.com/889329361753/AnyOfferChangedQueue"/>
		<add key="serviceUrl" value="http://sqs.us-west-2.amazonaws.com"/>
	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

			<targets>
					<target name="logfile" xsi:type="File"  
						fileName="${basedir}/logs/RedCarpet.SNS.Consumer.txt" 
            archiveFileName="${basedir}/logs/log.{#####}.txt"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
								<layout xsi:type="CSVLayout">
                <column name="time" layout="${longdate}" />
                <column name="message" layout="${message}" />
                <column name="logger" layout="${logger}"/>
                <column name="level" layout="${level}"/>
								</layout>
			</targets>

			<rules>
					<logger name="*" minlevel="Info" writeTo="logfile" />
			</rules>
	</nlog>

</configuration>
